$primary-font: 'Geometria';
$pf-italic: 'Geometria-Italic';
$pf-thin: 'Geometria-Thin';
$pf-thinitalic: 'Geometria-ThinItalic';
$pf-xlight: 'Geometria-ExtraLight';
$pf-xlightitalic: 'Geometria-ExtraLightItalic';
$pf-light: 'Geometria-Light';
$pf-lightitalic: 'Geometria-LightItalic';
$pf-medium: 'Geometria-Medium';
$pf-mediumitalic: 'Geometria-MediumItalic';
$pf-bold: 'Geometria-Bold';
$pf-bolditalic: 'Geometria-BoldItalic';
$pf-xbold: 'Geometria-ExtraBold';
$pf-xbolditalic: 'Geometria-ExtraBoldItalic';
$pf-heavy: 'Geometria-Heavy';
$pf-heavyitalic: 'Geometria-HeavyItalic';


$secondary-font: 'Open Sans', sans-serif;
$primary-color: #5dc7d7;
$secondary-color: white;
$gray: gray;
$black: #181818;
$s-xs-1:320px;
$s-xs-2:509px;
$s-s-1:510px;
$s-s-2:689px;
$s-m-1:690px;
$s-m-2:919px;
$s-l-1:920px;
$s-l-2:1399px;
$s-xl-1:1400px;
